:root {
    /* --color-fondo: #192233; */
    /* --color-secundario: #1d476f; */
    --color-fondo: #1d476f;
    --color-secundario: #192233;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    color: white;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    margin: 1rem;
    background-color: var(--color-secundario);
    border: 1px solid white;
}

#titulo {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

#contenedorPrincipal {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    min-height: 0;
}

#kpi {
    display: flex;
    padding-right: 1rem;
    gap: 1rem;
    justify-content: space-around;
    position: relative;
}

.estadistica {
    height: 8rem;
    width: 100%;
    background-color: var(--color-secundario);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

#filtros {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    border: 1px solid white;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    min-height: 0;
}

.etiqueta {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

.valor {
    font-size: 3.5rem;
    margin: auto;
}

#listaPersonajes {
    background-color: var(--color-secundario);
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    overflow-y: scroll;
    min-height: 0;
    border: 1px solid white;
}

.personaje {
    width: 15rem;
    height: auto;
    text-align: center;
    background-color: var(--color-fondo);
    border-radius: 0.5rem;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.personaje h2 {
    font-size: 1rem;
}

.personaje img {
    width: 10rem;
}

#proporcionPorEscuela {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
}

.filtroSelect, .entradaFiltro {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.filtroSelect label,
.entradaFiltro label {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.entradaFiltro {
    height: 1.5rem;
}

.entradaFiltro input {
    width: 100%;
}

#botonFiltros {
    margin-top: auto;
    height: 2.5rem;
    background-color: var(--color-fondo);
    color: white;
    border: none;
    display: block;
}

#botonFiltros:hover {
    background-color: #004060;
    cursor: pointer;
    font-size: 1.25rem;
}