:root {
    --color-fondo: #1d476f;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    margin: 1rem;
    background-color: white;
}

#titulo {
    width: 100%;
    text-align: center;
    color: var(--color-fondo);
    font-size: 3rem;
}

#kpi {
    display: inline;
    gap: 2rem;
    position: relative;
    height: 100%;
}

#filtros {
    display: inline;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 25% auto;
}