#contenedorPersonaje {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#fichaPersonaje {
    background-color: var(--color-secundario);
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    gap: 2rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    justify-content: center;
    align-items: flex-start;
}

#fichaPersonaje .personaje {
    height: 100%;
    width: 25rem;
    padding-bottom: 0;
}

#fichaPersonaje .personaje h2 {
    margin-bottom: auto;
}

#fichaPersonaje .personaje img {
    margin-bottom: 1rem;
    max-height: unset;
    height: 100%;
    max-width: 80%;
    align-self: center;
    object-fit: contain;
}

.fichaPersonajeImagen {
    flex: 1;
    display: flex;
    justify-content: center;
}

.fichaDatos {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.25rem;
    justify-content: center;
}

.fichaDatos li {
    border-bottom: 1px solid white;
}